<div class="card">
    <h4 class="card-header bg-info text-white">
        {{post.title}}
    </h4>
    <div class="card-body">
        <p class="card-text">{{post.content}}</p>
        <small class="text-muted">posted by {{post.user.name}} on {{formatDate post.date_created}}</small>
    </div>
</div>

{{#each post.comments as |comment|}}
{{comment.content}} on {{comment.date_created}} by {{comment.user.name}}
{{/each}}

<div class="card">
    <h4 class="card-header bg-info"></h4>
    <div class="card-body">
        <form id="new-comment-form" post-id="{{post.id}}">
            <div class="form-group">
                <label for="comment">Comment</label>
                <textarea class="form-control" id="comment" required></textarea>
            </div>

            <button type="submit" class="btn btn-info">Submit</button>
        </form>
    </div>
</div>

<script src="/js/post.js"></script>